<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/manojmansukh/IdeaProjects/BooksWagon_WebApp_Automate/src/test/java/com/bridgelabz/test/ChangePasswordTest.java"><classes><class name="com.bridgelabz.test.ChangePasswordTest"><methods><include name="changePassword"/></methods></class></classes></test></suite>